body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%)
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

.main {
    display: flex;
}

.box {
    padding:5%;
}

.one {
    background-color: hsl(31, 77%, 52%);
}

.two {
    background-color: hsl(184, 100%, 22%);
}

.three {
    background-color: hsl(179, 100%, 13%);
}

button {
    border-radius: 50rem;
    width: 50%;
    height: 17%;
    background-color: hsl(0, 0%, 95%);
}