@mixin borderRadiusLeft {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@mixin borderRadiusRight {
    border-bottom-right-radius: .7rem;
    border-top-right-radius: .7rem;
}

@mixin boxColor($base: $boxOne) {
    background-color: $base;
}

@mixin buttonTextColor($base: $boxOne) {
    color: $base;
}

@mixin mobileTopBorderRadius {
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    border-bottom-left-radius: 0;
}

@mixin mobileBottomBorderRadius {
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
    border-top-right-radius: 0;
}